In [1]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
Terrorcsv = "C:\\Users\\mgeam\\Documents\\ResettlingSecurity\\TerrorismData.csv"
Terror = pd.read_csv(Terrorcsv)
Terror.head()

C:\Users\mgeam\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (4,33,61,62,63,76,79,94,96,114,115,121) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,region_txt,provstate,city,latitude,longitude,specificity,vicinity,location,summary,crit1,crit2,crit3,doubtterr,alternative,alternative_txt,multiple,success,suicide,attacktype1,attacktype1_txt,attacktype2,attacktype2_txt,attacktype3,attacktype3_txt,targtype1,targtype1_txt,targsubtype1,targsubtype1_txt,corp1,target1,natlty1,natlty1_txt,targtype2,targtype2_txt,targsubtype2,targsubtype2_txt,corp2,target2,natlty2,natlty2_txt,targtype3,targtype3_txt,targsubtype3,targsubtype3_txt,corp3,target3,natlty3,natlty3_txt,gname,gsubname,gname2,gsubname2,gname3,gsubname3,motive,guncertain1,guncertain2,guncertain3,individual,nperps,nperpcap,claimed,claimmode,claimmode_txt,claim2,claimmode2,claimmode2_txt,claim3,claimmode3,claimmode3_txt,compclaim,weaptype1,weaptype1_txt,weapsubtype1,weapsubtype1_txt,weaptype2,weaptype2_txt,weapsubtype2,weapsubtype2_txt,weaptype3,weaptype3_txt,weapsubtype3,weapsubtype3_txt,weaptype4,weaptype4_txt,weapsubtype4,weapsubtype4_txt,weapdetail,nkill,nkillus,nkillter,nwound,nwoundus,nwoundte,property,propextent,propextent_txt,propvalue,propcomment,ishostkid,nhostkid,nhostkidus,nhours,ndays,divert,kidhijcountry,ransom,ransomamt,ransomamtus,ransompaid,ransompaidus,ransomnote,hostkidoutcome,hostkidoutcome_txt,nreleased,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,1.990010e+11,1990,1,0,NaN,0,NaN,110,Lebanon,10,Middle East & North Africa,Beirut,Beirut,33.888523,35.503513,1.0,0,NaN,NaN,1,1,1,-9,NaN,NaN,0,1,0,6,Hostage Taking (Kidnapping),NaN,NaN,NaN,NaN,10,Journalists & Media,53.0,Newspaper Journalist/Staff/Facility,Editors Assoc.,Journalist George Hajj,110.0,Lebanon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,Firearms,3.0,Handgun,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Pistol,0.0,NaN,NaN,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,1.0,1.0,0.0,NaN,NaN,NaN,Lebanon,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PGIS,-9,-9,0,-9,NaN
1,1.990010e+11,1990,1,1,NaN,0,NaN,92,India,6,South Asia,Jammu and Kashmir,Srinagar,34.083740,74.789902,1.0,0,NaN,NaN,1,1,1,0,NaN,NaN,0,1,0,3,Bombing/Explosion,NaN,NaN,NaN,NaN,2,Government (General),15.0,Politician or Political Party Movement/Meeting...,Govt,State Legislative Building,92.0,India,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,Explosives,16.0,Unknown Explosive Type,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Explosive,0.0,NaN,NaN,0.0,NaN,NaN,1,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PGIS,-9,-9,0,-9,NaN
2,1.990010e+11,1990,1,1,NaN,0,NaN,92,India,6,South Asia,Jammu and Kashmir,Srinagar,34.083740,74.789902,1.0,0,NaN,NaN,1,1,1,-9,NaN,NaN,0,1,0,3,Bombing/Explosion,NaN,NaN,NaN,NaN,1,Business,5.0,Industrial/Textiles/Factory,State electrical company,Office Complex,92.0,India,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,Explosives,16.0,Unknown Explosive Type,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Explosive,0.0,NaN,NaN,0.0,NaN,NaN,1,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PGIS,-9,-9,0,-9,NaN
3,1.990010e+11,1990,1,1,NaN,0,NaN,92,India,6,South Asia,Jammu and Kashmir,Srinagar,34.083740,74.789902,1.0,0,NaN,NaN,1,1,1,0,NaN,NaN,0,1,0,3,Bombing/Explosion,NaN,NaN,NaN,NaN,19,Transportation,99.0,Bus (excluding tourists),Bus Co.,Bus,92.0,India,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,Explosives,16.0,Unknown Explosive Type,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Explosive,0.0,NaN,NaN,0.0,NaN,NaN,1,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PGIS,-9,-9,0,-9,NaN
4,1.990010e+11,1990,1,1,NaN,0,NaN,26,Bolivia,3,South America,Cochabamba,Cochabamba,-17.382789,-66.166439,1.0,0,NaN,NaN,1,1,1,0,NaN,NaN,0,1,0,3,Bombing/Explosion,NaN,NaN,NaN,NaN,15,Religious Figures/Institutions,86.0,Place of Worship,Mormon church,chapel,217.0,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Alejo Calatayu,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,Explosives,7.0,Grenade,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Grenade,0.0,NaN,NaN,0.0,NaN,NaN,1,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN

In [4]:
Terror.dtypes

eventid       float64
iyear           int64
imonth          int64
iday            int64
approxdate     object
               ...
INT_LOG         int64
INT_IDEO        int64
INT_MISC        int64
INT_ANY         int64
related        object
Length: 135, dtype: object

In [5]:
Terror_df = Terror[['iyear', 'imonth', 'iday', 'country_txt', 'region_txt', 'provstate', 'natlty1_txt']].copy()
Terror_transform_df = Terror_df.copy()
Terror_transform_df = Terror_transform_df.rename(columns={"iyear": "Year",
                                                         "imonth": "Month",
                                                         "iday": "Day",
                                                         "country_txt": "Country",
                                                         "region_txt": "Region",
                                                         "provstate": "State",
                                                         "natlty1_txt": "Nationality "})

FinalTerror = Terror_transform_df.reset_index(drop=True)
FinalTerror

,Year,Month,Day,Country,Region,State,Nationality
0,1990,1,0,Lebanon,Middle East & North Africa,Beirut,Lebanon
1,1990,1,1,India,South Asia,Jammu and Kashmir,India
2,1990,1,1,India,South Asia,Jammu and Kashmir,India
3,1990,1,1,India,South Asia,Jammu and Kashmir,India
4,1990,1,1,Bolivia,South America,Cochabamba,United States
...,...,...,...,...,...,...,...
150387,2018,12,31,Afghanistan,South Asia,Zabul,Afghanistan
150388,2018,12,31,Afghanistan,South Asia,Faryab,Afghanistan
150389,2018,12,31,Afghanistan,South Asia,Jawzjan,Afghanistan
150390,2018,12,31,Afghanistan,South Asia,Helmand,Afghanistan
150391,2018,12,31,United Kingdom,Western Europe,Northern Ireland,Northern Ireland

In [6]:
AsyleeRefugeecsv = "C:\\Users\\mgeam\\Documents\\ResettlingSecurity\\AsyleeRefugeeData.csv"
AsyleeRefugee = pd.read_csv(AsyleeRefugeecsv)
AsyleeRefugee

,Year,Country of origin,Country of origin (ISO),Country of asylum,Country of asylum (ISO),Refugees under UNHCR’s mandate,Asylum-seekers,IDPs of concern to UNHCR,Venezuelans displaced abroad,Stateless persons,Others of concern
0,1990,Unknown,NaN,Afghanistan,AFG,50,0,0,NaN,0,0
1,1990,Palestinian,PSE,Algeria,DZA,4000,0,0,NaN,0,0
2,1990,Western Sahara,ESH,Algeria,DZA,165000,0,0,NaN,0,0
3,1990,Unknown,NaN,Algeria,DZA,110,0,0,NaN,0,0
4,1990,Dem. Rep. of the Congo,COD,Angola,AGO,9212,0,0,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...
92811,2018,Colombia,COL,Curacao,CUW,53,57,0,NaN,0,0
92812,2018,Cuba,CUB,Curacao,CUW,6,6,0,NaN,0,0
92813,2018,Jamaica,JAM,Curacao,CUW,5,0,0,NaN,0,0
92814,2018,Venezuela (Bolivarian Republic of),VEN,Curacao,CUW,35,279,0,25686.0,0,0
92815,2018,Iran (Islamic Rep. of),IRN,Sint Maarten (Dutch part),SXM,5,0,0,NaN,0,0

In [25]:
AsyleeRefugee_df = AsyleeRefugee[['Year', 'Country of origin', 'Country of asylum', 'Refugees under UNHCR’s mandate', 'Asylum-seekers']].copy()
AsyleeRefugee_transform_df = AsyleeRefugee_df.copy()
AsyleeRefugee_transform_df = AsyleeRefugee_transform_df.rename(columns={"Country of origin": "Country of Origin",
                                                         "Country of asylum": "Country of Asylum",
                                                         "Refugees under UNHCR’s mandate": "Refugees Under UNHCR’s Mandate",
                                                         "Asylum-seekers": "Asylum Seekers"})

FinalAsyleeRefugee = AsyleeRefugee_transform_df.reset_index(drop=True)
FinalAsyleeRefugee

,Year,Country of Origin,Country of Asylum,Refugees Under UNHCR’s Mandate,Asylum Seekers
0,1990,Unknown,Afghanistan,50,0
1,1990,Palestinian,Algeria,4000,0
2,1990,Western Sahara,Algeria,165000,0
3,1990,Unknown,Algeria,110,0
4,1990,Dem. Rep. of the Congo,Angola,9212,0
...,...,...,...,...,...
92811,2018,Colombia,Curacao,53,57
92812,2018,Cuba,Curacao,6,6
92813,2018,Jamaica,Curacao,5,0
92814,2018,Venezuela (Bolivarian Republic of),Curacao,35,279
92815,2018,Iran (Islamic Rep. of),Sint Maarten (Dutch part),5,0

In [9]:
!pip install psycopg2-binary --user

Requirement already satisfied: psycopg2-binary in c:\users\mgeam\appdata\roaming\python\python38\site-packages (2.8.6)

WARNING: You are using pip version 20.3.3; however, version 21.0.1 is available.
You should consider upgrading via the 'c:\users\mgeam\anaconda3\python.exe -m pip install --upgrade pip' command.

In [18]:
connection_string = "postgres:postgres@localhost:5432/Resettling Security Database"
engine = create_engine(f'postgresql://{connection_string}')

In [19]:
engine.table_names()

['Asylee Refugee DF', 'Terror DF']

In [20]:
FinalAsyleeRefugee.to_sql(name='Asylee Refugee DF', con=engine, if_exists='replace', index=True)

In [21]:
FinalTerror.to_sql(name='Terror DF', con=engine, if_exists='replace', index=True)

In [22]:
 pd.read_sql_query('SELECT * FROM "Asylee Refugee DF"', con=engine)

,index,Year,Country of Origin,Country of Asylum,Refugees Under UNHCR’s Mandate,Asylum Seekers
0,0,1990,Unknown,Afghanistan,50,0
1,1,1990,Palestinian,Algeria,4000,0
2,2,1990,Western Sahara,Algeria,165000,0
3,3,1990,Unknown,Algeria,110,0
4,4,1990,Dem. Rep. of the Congo,Angola,9212,0
...,...,...,...,...,...,...
92811,92811,2018,Colombia,Curacao,53,57
92812,92812,2018,Cuba,Curacao,6,6
92813,92813,2018,Jamaica,Curacao,5,0
92814,92814,2018,Venezuela (Bolivarian Republic of),Curacao,35,279
92815,92815,2018,Iran (Islamic Rep. of),Sint Maarten (Dutch part),5,0

In [23]:
 pd.read_sql_query('SELECT * FROM "Terror DF"', con=engine)

,index,Year,Month,Day,Country,Region,State,Nationality
0,0,1990,1,0,Lebanon,Middle East & North Africa,Beirut,Lebanon
1,1,1990,1,1,India,South Asia,Jammu and Kashmir,India
2,2,1990,1,1,India,South Asia,Jammu and Kashmir,India
3,3,1990,1,1,India,South Asia,Jammu and Kashmir,India
4,4,1990,1,1,Bolivia,South America,Cochabamba,United States
...,...,...,...,...,...,...,...,...
150387,150387,2018,12,31,Afghanistan,South Asia,Zabul,Afghanistan
150388,150388,2018,12,31,Afghanistan,South Asia,Faryab,Afghanistan
150389,150389,2018,12,31,Afghanistan,South Asia,Jawzjan,Afghanistan
150390,150390,2018,12,31,Afghanistan,South Asia,Helmand,Afghanistan
150391,150391,2018,12,31,United Kingdom,Western Europe,Northern Ireland,Northern Ireland